# DV stuff

In [1]:
import pandas as pd
import plotly.graph_objs as go
import plotly.express as px
import numpy as np

In [ ]:
from zipfile import ZipFile
import shutil

fileName = dataFolderName+'/mini_DCSC_RACLI_31082021204439489.csv'
with ZipFile(fileName+'.zip','r') as zf_in:
    zf_in.printdir()
    print('Extracting all the files now...')
    zf_in.extractall(dataFolderName)
    print('Done!')

In [ ]:
# Drop function
    # drop command
    # axis=1 -> columns
    # axis=0 -> rows

In [7]:
d = {}
for i in range(3):
    a = 2014+i
    d["group" + str(i)] = a
print(a)
print(d)

2016
{'group0': 2014, 'group1': 2015, 'group2': 2016}

In [3]:
import pandas as pd
# join for connect ITTER107 to SIGLA
csv_prov = pd.DataFrame(columns=['sigla','codice'])

fileName = "province_statistical_codes/Codici-statistici-e-denominazioni-al-01_01_201"
for anno in (4,5,6,7):
    temp = pd.read_csv("data/"+fileName + str(anno)+'.csv',sep=';',encoding='ANSI', na_filter=False)
    temp = temp[['Sigla automobilistica',temp.columns[-1]]].drop_duplicates()
    temp = temp.rename(columns={temp.columns[0]:csv_prov.columns[0],temp.columns[1]:csv_prov.columns[1]})
    csv_prov = csv_prov.append(temp).drop_duplicates()

# csv_prov.query('codice=="IT108"')
# csv_prov.query('sigla=="NA"')
# csv_prov.reset_index(drop=True)#.sort_values(by='sigla')
# csv_prov[csv_prov.isnull().any(axis=1)].drop_duplicates()
csv_prov.append({'sigla':'MB','codice':'IT108'},ignore_index=True)
# map_df.query('SIGLA=="MB"')

# merged1 = df_sex_province_year["group2015"].join(csv_prov.set_index(csv_prov.columns[-1]))
# merged1.sort_values(by='sigla')#query('Territorio=="Fermo"')
# merged1[merged1.isnull().any(axis=1)].drop_duplicates()

    sigla codice
0      TO  ITC11
1      VC  ITC12
2      NO  ITC15
3      CN  ITC16
4      AT  ITC17
..    ...    ...
164    SU  ITG27
165    SU  ITG2C
166    SU  ITG28
167    SU  ITG2A
168    MB  IT108

[169 rows x 2 columns]

In [10]:
f"map_{3}"

'map_{3}'