# Data Visualization Exam

In [101]:
import pandas as pd
import plotly.graph_objs as go
import plotly.express as px

from zipfile import ZipFile
import shutil

## Data acquisition
CSV file creation from raw data and loading the CSV file into the program.

In [102]:
# fileName = 'data/mini_DCSC_RACLI_31082021204439489.csv'
# with ZipFile(fileName+'.zip','r') as zf_in:
#     zf_in.printdir()
#     print('Extracting all the files now...')
#     zf_in.extractall('data')
#     print('Done!')

fileName = 'data/DCSC_RACLI_01092021113430630.csv'
df = pd.read_csv(fileName)      # load data from CSV to program
df.head() # data loaded

,ITTER107,Territorio,TIPO_DATO7,Tipo dato,SEXISTAT1,Sesso,ETA1_A,Classe di età,PROFILO_PROF,Qualifica contrattuale,ATECO_2007,Ateco 2007,CLLVT,Classe di dipendenti,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,IT,Italia,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,9,totale,TOTAL,totale,6,operaio,B,estrazione di minerali da cave e miniere,TOTAL,totale,2014,2014,14.48,NaN,NaN
1,IT,Italia,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,9,totale,TOTAL,totale,6,operaio,B,estrazione di minerali da cave e miniere,TOTAL,totale,2015,2015,14.80,NaN,NaN
2,IT,Italia,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,9,totale,TOTAL,totale,6,operaio,B,estrazione di minerali da cave e miniere,TOTAL,totale,2016,2016,14.80,NaN,NaN
3,IT,Italia,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,9,totale,TOTAL,totale,6,operaio,B,estrazione di minerali da cave e miniere,TOTAL,totale,2017,2017,15.05,NaN,NaN
4,IT,Italia,HOUWAG_ENTEMP_AV_MI,Retribuzione lorda oraria per ora retribuita d...,9,totale,TOTAL,totale,99,totale,B,estrazione di minerali da cave e miniere,W50_249,50-249,2014,2014,20.24,NaN,NaN

## Data parsing

In [106]:
# TODO: Check for errors in data
#       total is equal to the arithmetic mean of the parts? not seem
#       find missing data
#   	check that value apprendista < operaio < dirigente (for territory)

print('\nBefore remove duplicates: ' + str(len(df)) + ' rows')
df.drop_duplicates()
print('After remove duplicates:  ' + str(len(df)) + ' rows')

# are values reasonable?
print('\nMin value is ' + str(df['Value'].min()))
print('Max value is ' + str(df['Value'].max()))

# TODO: Change type

# TODO: Choose the level for hierachical data


# TODO: Transform the data

Before remove duplicates: 12142 rows
After remove duplicates:  12142 rows

Min value is 6.38
Max value is 46.29

## Data filtering

In [107]:
# Delete useless data
df2 = df.copy()

# unique data
del df2['TIPO_DATO7'] # always the same (HOUWAG_ENTEMP_AV_MI)
del df2['Tipo dato']  # always the same (Retribuzione lorda oraria per ora retribuita delle posizioni lavorative dipendenti in euro (media).)

# ridondance of information
del df2['SEXISTAT1']
del df2['ETA1_A']
del df2['PROFILO_PROF']
del df2['ATECO_2007']
del df2['CLLVT']
del df2['Seleziona periodo']

df2 = df2[df2['Flag Codes'] != 'c'] # delete incomplete data

del df2['Flags']
del df2['Flag Codes']



# cols = df.columns.tolist()
# cols = cols[0:3] + cols[:2:-1]
# df = df[cols]
# del cols

df2.head()

,ITTER107,Territorio,Sesso,Classe di età,Qualifica contrattuale,Ateco 2007,Classe di dipendenti,TIME,Value
0,IT,Italia,totale,totale,operaio,estrazione di minerali da cave e miniere,totale,2014,14.48
1,IT,Italia,totale,totale,operaio,estrazione di minerali da cave e miniere,totale,2015,14.80
2,IT,Italia,totale,totale,operaio,estrazione di minerali da cave e miniere,totale,2016,14.80
3,IT,Italia,totale,totale,operaio,estrazione di minerali da cave e miniere,totale,2017,15.05
4,IT,Italia,totale,totale,totale,estrazione di minerali da cave e miniere,50-249,2014,20.24

## Data mining

In [105]:
# TODO: start with univariate analysis (one variable at a time), continue with multivariate analysis